@using System.Data
@model System.Data.DataSet

@{
    /**/

    ViewBag.Title = "Index";
}
<head>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.1.221/styles/kendo.bootstrap-v4.min.css" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2019.2.514/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2019.2.514/styles/kendo.blueopal.min.css" />
    <script src="http://kendo.cdn.telerik.com/2019.2.514/js/jquery.min.js"></script>

    <script src="https://kendo.cdn.telerik.com/2018.1.221/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.1.221/js/kendo.all.min.js"></script>
</head>


<h2>查詢書籍</h2>
@using (Html.BeginForm("Insert", "Library", FormMethod.Post))
{
    <div align="center">
        書籍名稱 <input type="text" class="k-textbox" /><br />
        書籍類別 <select id="category">
            <option>Comics</option>
            <option>DataBase</option>
            <option>Finance</option>
            <option>Program</option>
        </select><br />
        現保管人 <select id="memeber">
            <option>Jenny</option>
            <option>Jessica</option>
            <option>Sam</option>
            <option>Elsa</option>
        </select><br />
        書籍狀態 <select id="status">
            <option>可租借</option>
            <option>不可租</option>
            <option>不可借</option>
            <option>已租未領</option>
        </select><br />
        <input type="submit" value="新增" id="insert" class="btn btn-warning" onclick='this.form.action="Insert"' />
        <input type="submit" value="查詢" id="search" class="btn btn-success" onclick='this.form.action="Search"' />
        <span class="btn btn-info">清除</span>
    </div>

    <script>$("#category").kendoDropDownList();</script>
    <script>$("#memeber").kendoDropDownList();</script>
    <script>$("#status").kendoDropDownList();</script>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>書籍編號</th>
                <th>書籍名稱</th>
                <th>書籍種類</th>
                <th>作者</th>
                <th>狀態</th>
                <th>保管者</th>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in Model.Tables[0].Rows)
            {
            <tr>
                <td>@row["BOOK_ID"]</td>
                <td>@row["BOOK_NAME"]</td>
                <td>@row["BOOK_CLASS_NAME"]</td>
                <td>@row["BOOK_AUTHOR"]</td>
                <td>@row["CODE_NAME"]</td>
                <td>@row["USER_NAME"]</td>
                <td>@Html.ActionLink("修改", "Update", new { id = @row["BOOK_ID"] })</td>
                <td>
                    <a class="delete" href="#" onclick="test(this,'@row["BOOK_ID"]');">刪除</a>
                    <input class="hidId" type="hidden" value='@row["BOOK_ID"]' />
                </td>
            </tr>
            }
        </tbody>
    </table>

    <div id="grid">Grid</div>
}


<script type="text/javascript">
    $(document).ready(function () { //表單
        var dataSource = new kendo.data.DataSource({
            data: @ViewBag.jstr,
            pageable:10
        });
        $("#grid").kendoGrid({
            dataSource: dataSource,
            pageable: true
        });

        var myWindow = $("#Insertwindow"), //Kendowindow
            insert = $("#insert");

        insert.click(function () {
            myWindow.data("kendoWindow").open();
            insert.fadeOut();
        });

        myWindow.kendoWindow({
            width: "600px",
            height: "700px",
            title: "新增書籍",
            visible: false,
            actions: [
                "Pin",
                "Minimize",
                "Maximize",
                "Close"
            ],
            close: onClose
        }).data("kendoWindow").center().open();

        $(".delete").click(function (e) { //刪除
            e.preventDefault();
            var tr = $(this).closest('tr')
            $.ajax({
                type: "POST",
                url: "/Library/Delete",
                data: "bookId=" + $(this).next().val(),
                dataType: "json",
                success: function (response) {
                    $(tr).remove();
                }, error: function (error) {
                    alert("系統發生錯誤");
                }
            });
            return false;
        });
    });
</script>