@using System.Data
@model System.Data.DataSet

@{
    ViewBag.Title = "Index";
}

<h2>查詢書籍</h2>
書籍名稱 <input type="text" name="bookname" /><br />
書籍類別 <select id="category">
    <option>Comics</option>
    <option>DataBase</option>
    <option>Finance</option>
    <option>Program</option>
</select><br />
保管人 <select id="memeber">
    <option>Jenny</option>
    <option>Jessica</option>
    <option>Sam</option>
    <option>Elsa</option>
</select><br />
書籍狀態 <select id="status">
    <option>可租借</option>
    <option>不可租</option>
    <option>不可借</option>
    <option>已租未領</option>
</select><br />

<table border="1">
    <tr>
        <th>書籍編號</th>
        <th>書籍名稱</th>
        <th>書籍種類</th>
        <th>作者</th>
        <th>購買日期</th>
        <th>出版商</th>
        <th>書籍簡介</th>
        <th>狀態</th>
        <th>保管者</th>
    </tr>
    @foreach (DataRow row in Model.Tables[0].Rows)
    {
        <tr>
            <td>@row["BOOK_ID"]</td>
            <td>@row["BOOK_NAME"]</td>
            <td>@row["BOOK_CLASS_ID"]</td>
            <td>@row["BOOK_AUTHOR"]</td>
            <td>@row["BOOK_BOUGHT_DATE"]</td>
            <td>@row["BOOK_PUBLISHER"]</td>
            <td>@row["BOOK_NOTE"]</td>
            <td>@row["BOOK_STATUS"]</td>
            <td>@row["BOOK_KEEPER"]</td>
        </tr>
    }
</table>